<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <services>
            <service name = "de.hsfl.vs.hul.chatApp.server.ChatService">
                <endpoint address = "net.tcp://localhost:9000/chatApp"
                          binding = "netTcpBinding"
                          contract = "de.hsfl.vs.hul.chatApp.contract.IChatService"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>